
profiles {
    kres {
        executor {
            name = 'local'
            cpus = 64
            memory = '100 GB'
        }

        //===================
        // Local parameters
        //===================

        params {
            amrfinderplus_db           = "/bigdata/Jessin/Softwares/anaconda3/envs/amrfinder/share/amrfinderplus/data/latest"
            lrefinder_db =             = "/bigdata/Jessin/Softwares/lre-finder/elmDB/elm"
            plasmidfinder_db           = "/bigdata/Jessin/Softwares/anaconda3/envs/pipeline/share/plasmidfinder-2.1.6/database"
        }
    }
}