
profiles {
    kres {
        process {
            executor = 'local'
            cpus = 64
            memory = '100GB'
        }

        //===================
        // Local parameters
        //===================
        // params.amrfinderplus_db = "/bigdata/Jessin/Softwares/anaconda3/envs/amrfinder/share/amrfinderplus/data/latest"
        // params.lrefinder_db = "/bigdata/Jessin/Softwares/lre-finder/elmDB/elm"
        // params.plasmidfinder_db = "/bigdata/Jessin/Softwares/anaconda3/envs/pipeline/share/plasmidfinder-2.1.6/database"
        params.assembler = 'shovill'



        singularity.enabled     = false
        singularity.autoMounts  = false
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = true
        apptainer.autoMounts    = true
    }
}